table {
  border: none; }

a {
  text-decoration: none; }

html, body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background: #e1e3e4;
  margin: 0;
  color: #313131;
  line-height: 1.42857143; }

/* Left-menu-style-starts*/
.fa {
  color: #FFFFFF; }

.left-side-menu {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
  background: #000; }

.left-side-menu .home-ico {
  font-size: 24px;
  padding: 14px; }

/* Left-menu-style-ends*/
/*main-container-starts*/
.main-contianer {
  padding-top: 55px;
  margin-left: 50px; }

/*main-container-ends*/
/* header-wrapper-starts*/
.header-wrapper {
  position: fixed;
  top: 0;
  left: 52px;
  width: 100%;
  z-index: 100;
  background: #f4f4f4;
  border-bottom: 1px solid #d2d6d5; }

.logo {
  color: #488ac7;
  font-weight: 700;
  font-size: 20px;
  padding: 15px; }

/* header-wrapper-ends*/
/*bread-crumb-starts*/
.bread-crumb-wrapper {
  color: #726e6d;
  padding: 15px;
  border-bottom: 1px solid #d2d6d5; }

/*bread-crumb-ends*/
/*page-wrapper-starts*/
.page-wrapper {
  padding: 15px; }

/*left-wrapper-starts*/
.left-content {
  float: left;
  padding-right: 15px; }

.highlighted-screen img {
  padding-bottom: 15px;
  max-width: 1825px; }

/*left-wrapper-ends*/
/*right-wrapper-starts*/
.right-wrapper {
  overflow: inherit; }

.detail-bg {
  background-color: #488ac7;
  padding: 13px 10px;
  color: #FFFFFF;
  overflow: hidden;
  width: 139px;
  text-align: center; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 50%; }

.table > thead > tr > th, .table > tbody > tr > td {
  padding: 8px;
  vertical-align: bottom; }

.table > thead > tr > th {
  background: #FFFFFF;
  text-align: left; }

.table > tbody > tr > td {
  border-top: 1px solid #d2d6d5;
  border-bottom: 1px solid #d2d6d5;
  text-align: left; }

.screen-annot-wrapper {
  margin-top: 50px; }

.annotate-icon a i {
  background-color: #488ac7;
  padding: 8px;
  font-size: 24px; }

.annotate-icon a i:hover {
  background-color: #376a98;
  cursor: pointer; }

.comment-form {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 48%;
  min-height: 90px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.button-list a li {
  display: inline;
  list-style-type: none;
  text-decoration: none; }

.button-list a li:hover {
  background: #376a98;
  cursor: pointer; }

.button {
  background: #488ac7;
  padding: 8px;
  color: #FFFFFF;
  border-radius: 3px; }

.icons.fa {
  background-color: #488ac7;
  padding: 8px;
  font-size: 24px; }

.iconsg.fa {
  background-color: #b7b7b7;
  padding: 8px;
  font-size: 24px; }

/*right-wrapper-ends*/
/*page-wrapper-ends*/
#editbuttons {
  display: none; }

.focusable-active #editbuttons {
  display: block; }

.anotation-content {
  display: none; }

.focusable-active .anotation-content {
  display: block;
  padding: 15px;
  position: relative;
  z-index: 9999; }

.focusable-active .img-wrapper {
  float: left;
  padding: 15px;
  position: relative;
  z-index: 99999; }

.focusable-active .right-wrapper {
  display: none; }

.focusable-active .left-content {
  width: 100%;
  float: left; }

.focusable-active .anotation-content .table {
  min-width: 800px; }

.anotation-content .dropbtn .fa {
  padding-left: 5px; }

.focusable-active .anotation-content .comment-form {
  min-width: 97%;
  margin-top: 10px;
  border-radius: 3px; }

.focusable-active .table > thead > tr > th, .focusable-active .table > tbody > tr > td {
  padding: 8px;
  vertical-align: bottom;
  color: #000000;
  background: #FFFFFF;
  text-align: left; }

#editbuttons .fa:hover {
  background: #376a98;
  cursor: pointer; }

.anotation-content .dropdown-content .fa {
  color: #313131;
  padding-right: 10px; }
